<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="InnerclassSeparator"
    package="com.magna.moldingtools">

    <!-- Bluetooth SPP permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- for Samsung -->
    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />
    <!-- Bluetooth BLE permission -->
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <!-- Android 6 Bluetooth permission, location permission must be turned on -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />-->
    <!-- System dialog permissions -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- File data permissions-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".Activity.LaunchActivity"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ParameterSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.notAnimation"
            android:windowSoftInputMode="adjustPan" />


        <service
            android:name="com.magna.moldingtools.service.AtCommandService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.magna.moldingtools.service.OTASPPService"
            android:enabled="true"
            android:exported="true" />


        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.notAnimation" />

    </application>

</manifest>